@font-face {
    font-family: 'ralewaylight';
    src: url('font/raleway/raleway-light-webfont.eot');
    src: url('font/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-light-webfont.woff') format('woff'),
         url('font/raleway/raleway-light-webfont.ttf') format('truetype'),
         url('font/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('font/raleway/raleway-semibold-webfont.eot');
    src: url('font/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-semibold-webfont.woff') format('woff'),
         url('font/raleway/raleway-semibold-webfont.ttf') format('truetype'),
         url('font/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway/raleway-regular-webfont.eot');
    src: url('font/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-regular-webfont.woff') format('woff'),
         url('font/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('font/raleway/raleway-regular-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('font/raleway/raleway-extrabold-webfont.eot');
    src: url('font/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-extrabold-webfont.woff') format('woff'),
         url('font/raleway/raleway-extrabold-webfont.ttf') format('truetype'),
         url('font/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-y: scroll;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
}

body {
}


img {
    border: 0;
}

.slide {
    position: fixed;
    top: 0;
    left: 0;
    /* position: relative; */
}

.about {
    width: 100%;
    height: 100%;
}

#background1 {
    background-image: url(../img/background.png);
	height: 100%;
	/* display: none; */
}

.device-img {
    width: 100%;
}

.background-img {
    display: block;
    margin: 0 auto;
}

.device{
	position: absolute;
	left: 50%;
    margin: 0 auto;
	padding: 0;
}

.device1 {
    top: 110px;
    margin-left: -265px;
}

.device2 {
    top: 200px;
}

.device3 {
    top: 80px;
}

.device4 {
    top:250px;
}
.device5 {
    top: 230px;
}


#background2 {
	background-image: url(../img/background2.png);
	height: 100%;
	/* display: none; */
}

#background3 {
	background-image: url(../img/background3.png);
	height: 100%;
}

#background5 {
	background-image: url(../img/background3.png);
	height: 100%;
}

#background4{
	background-image: url(../img/background4.png);
	height: 100%;
}

#big{
	font-size: 1.75em;
}

p {
    padding: 0.1em;
    margin: 0.1em;
}

#skills{
	list-style:none;
	padding: 0.2em;
	margin: 0;
}
#skills li{
	display: inline;
	float: center;
	padding: 15px;
	margin: 0;
}

.text-section {
	position: absolute;
	text-align: center;
    width: 100%;
	font-family: 'ralewaylight';
	font-size: 1em;
	text-transform: uppercase; 
	letter-spacing: 0.175em;
	text-align: center;
	line-height: 3em;
	font-weight: lighter; 
}

.text-section1 {
    top: 100px;
}
.text-section2 {
    top: 70px;
}
.text-section3 {
    top: 85px;
}
.text-section4 {
    top: 125px;
}
.text-section5 {
    top: 90px;
}


.accent {
	font-size: 1.60em;
	font-weight: bold;
}
.low{
	text-transform: lowercase;
}
#small{
	text-transform: lowercase;
	font-weight: lighter;
	font-size: 0.8em;
}
#backgroundworks{
	background-image: url(../img/backgroundworks.png);
	min-height: 100%;
	background-attachment: fixed;
}
#container{
	width: 66%;
	margin: 80px auto;
    text-align: center;
}
.description {
	position: absolute;
	text-align: center;
	padding: 30% 0;
	font-family: 'ralewaylight';
	z-index: 100;
	font-size: 1.5em;
	text-transform: uppercase; 
	letter-spacing: 0.175em;
	text-align: center;
	line-height: 2em;
	font-weight: lighter;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
.textlight{
	text-transform: none;
	font-size: 0.8em;
}
.line{
	border-bottom: 3px solid #fff;
	margin: 0 15%;
	padding-bottom: 6%;
}


.work{
	display: inline-block;
	width: 30%;
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
	margin: 1%;
	min-width: 250px;
    cursor: pointer;
}
.details{
    padding-top: 10%;
	background-color: #910035;
    vertical-align: middle;
	position: absolute;
    top: 60%;
	font-family: 'ralewaylight';
	font-size: 1.5em;
	text-transform: uppercase; 
	letter-spacing: 0.175em;
	text-align: center;
	font-weight: lighter;
	color: #fff;
	width: 80%;
	height: 20%;
    left: -80%;
}

.details span {
    margin: auto;
    margin-top: 100px;
}

/*
#first:hover{
	background-image: url(../img/noxact.png);
	border: 1px solid #910035;
}
*/
.work-img {
	width: 100%;
}

/*#second{
	background-image: url(../img/jellypas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}
#third{
	background-image: url(../img/freepas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}
#forth{
	background-image: url(../img/lightpas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}
#fifth{
	background-image: url(../img/middlepas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}
#sixth{
	background-image: url(../img/vikuppas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}*/

/* header*/


#header{
	background: #ffffff;
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
    z-index: 2000;
    text-align: center;
	/*display: none;*/
}
.header-content {
    display: inline-block;
    margin: 0 auto;
}

#logo{
    float: left;
    margin: 16px 60px 0 0;
}
#menu{
	list-style: none;
	float: right;
	padding: 0;
}
#menu li{
	float:left;
	font: 1.7em 'ralewaylight';
	text-transform: uppercase;
}	
#menu a{
	color: #666667;
	display:block;
	height:60px;
	line-height:56px;
	padding:0px 60px 0px 0px;
	text-decoration:none;
}
#menu a:hover, #menu a.active{
	color: #000;
	font-family:'ralewayregular';
}

.circle{
	background: url(../img/circle1.png) 4px 6px no-repeat;
	margin-top: 20px;
}
.circle:hover, .circle-active{
	background: url(../img/circle1hover.png) no-repeat;
	margin-top: 22px;
}
#menu a.hover{
	background: url(../img/circle1hover.png) no-repeat;
	margin-top: 25px;
}
.clear {
	clear: both;
}
.mouse{
    display: none;
    opacity: 0;
	position: fixed;
	width: 300px;
    text-align: center;
    margin-left: -150px;
	bottom: 17%;
    left: 50%;
	/* margin-left: -150px;*/
    z-index: 200;
}
.scrolltext{
	font-family: 'ralewaylight';
	z-index: 10000;
	font-size: 1.3em;
	text-transform: none; 
	letter-spacing: 0.175em;
	margin-top: 25%;
	left: 0;
	width: 100%;
	color: #fff;
}
.scroll{
	float: left;
	padding: 4%;
}



/* all works open*/

.invisible{
	display: none;
}

.works-full {
    position: relative;
    overflow: hidden;
    display: none;
}

.works-full ul {
    margin: 0;
    padding: 0;
}

.work-full {
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
	margin-top: 85px;
}

/*header middle*/

#headercontainer{
    display: none;
	background-color: #fff;
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #506d88;
	margin: 0;
	z-index: 10000;
}

#headercontainer p {
    padding: 25px 15%;
}

.link-text{
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
	color: #506d88;
    float: left;
    text-decoration: none;
}
.link-text:hover{
	color: #000;
	font-family:'ralewayregular';
}

#headercontainer .prev {
    float: right;
    padding: 0 30px 0 0;
}

#headercontainer .next {
    float: right;
    padding: 0 0 0 30px;
}


/* work common */
.work-full .title {
    position: relative;
	margin: auto;
    padding-top: 50px;
	color: #fff;
	font: 1.7em 'ralewayextrabold';
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.175em;
}

.b-work-plate {
    position: relative;
}

.b-work-img-screen{
	position: relative;
	top: 50px;
    display: block;
    margin: 0 auto;
}

.b-work-text{
	position: relative;
	width: 1070px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}

.b-work-text-white{
	color: #fff;
}

.accentn{
	text-transform: uppercase;
	color: #d7c9ce;
	font: 1.5em 'ralewaysemibold';
}


/*nox*/

.b-nox-bg1 {
    background-color: #7a4343;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
}

.b-nox-bg2 {
    background-color: #7a4343;
    width: 100%;
    height: 1150px;
    position: absolute;
    top: 950px;
}

.b-nox-bg3 {
    background-color: #7a4343;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
}

.b-nox-shadow-right {
    -webkit-box-shadow: 20px 20px 0px 0px #d7c9ce;
    -moz-box-shadow:    20px 20px 0px 0px #d7c9ce;
    box-shadow:         20px 20px 0px 0px #d7c9ce;
}

.b-nox-shadow-left {
    -webkit-box-shadow: -20px -20px 00px 0px #d7c9ce;
    -moz-box-shadow:    -20px -20px 00px 0px #d7c9ce;
    box-shadow:         -20px -20px 00px 0px #d7c9ce;
}

.b-nox-text{
	color: #7a4343;
}

/*pro*/
.b-pro-bg1 {
    background-color: #6d8270;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
}

.b-pro-bg2 {
    background-color: #6d8270;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
}

.b-pro-shadow-right {
    -webkit-box-shadow: 20px 20px 0px 0px #d4dcd3;
    -moz-box-shadow:    20px 20px 0px 0px #d4dcd3;
    box-shadow:         20px 20px 0px 0px #d4dcd3;
}

.b-pro-shadow-left {
    -webkit-box-shadow: -20px -20px 00px 0px #d4dcd3;
    -moz-box-shadow:    -20px -20px 00px 0px #d4dcd3;
    box-shadow:         -20px -20px 00px 0px #d4dcd3;
}

.b-pro-text{
	color: #6d8270;
}

/*vikup*/

.b-vikup-bg1 {
    background-color: #59777f;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
}

.b-vikup-bg2 {
    background-color: #59777f;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
}

.b-vikup-shadow-right {
    -webkit-box-shadow: 20px 20px 0px 0px #d6dce0;
    -moz-box-shadow:    20px 20px 0px 0px #d6dce0;
    box-shadow:         20px 20px 0px 0px #d6dce0;
}

.b-vikup-shadow-left {
    -webkit-box-shadow: -20px -20px 00px 0px #d6dce0;
    -moz-box-shadow:    -20px -20px 00px 0px #d6dce0;
    box-shadow:         -20px -20px 00px 0px #d6dce0;
}

.b-vikup-text{
	color: #59777f;
}

/* beready light */

.b-light-bg1 {
    background-color: #97997c;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
}

.b-light-bg2 {
    background-color: #97997c;
    width: 100%;
    height: 2800px;
    position: absolute;
    top: 950px;
}

.b-light-bg3 {
    background-color: #97997c;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
}

.b-light-shadow-right {
    -webkit-box-shadow: 20px 20px 0px 0px #e0ded6;
    -moz-box-shadow:    20px 20px 0px 0px #e0ded6;
    box-shadow:         20px 20px 0px 0px #e0ded6;
}

.b-light-shadow-left {
    -webkit-box-shadow: -20px -20px 00px 0px #e0ded6;
    -moz-box-shadow:    -20px -20px 00px 0px #e0ded6;
    box-shadow:         -20px -20px 00px 0px #e0ded6;
}

.b-light-text{
	color: #97997c;
}

/* beready middle */

.b-middle-bg1 {
    background-color: #506d88;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
}

.b-middle-bg2 {
    background-color: #506d88;
    width: 100%;
    height: 3450px;
    position: absolute;
    top: 950px;
}

.b-middle-bg3 {
    background-color: #506d88;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
}

.b-middle-shadow-right {
    -webkit-box-shadow: 20px 20px 0px 0px #d6dbe0;
    -moz-box-shadow:    20px 20px 0px 0px #d6dbe0;
    box-shadow:         20px 20px 0px 0px #d6dbe0;
}

.b-middle-shadow-left {
    -webkit-box-shadow: -20px -20px 00px 0px #d6dbe0;
    -moz-box-shadow:    -20px -20px 00px 0px #d6dbe0;
    box-shadow:         -20px -20px 00px 0px #d6dbe0;
}

.b-middle-text{
	color: #506d88;
}


/*free*/

.b-free-bg1 {
    background-color: #94889b;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
}

.b-free-bg2 {
    background-color: #94889b;
    width: 100%;
    height: 1150px;
    position: absolute;
    top: 3600px;
}

.b-free-bg3 {
    background-color: #94889b;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
}

.b-free-shadow-right {
    -webkit-box-shadow: 20px 20px 0px 0px #e0dce0;
    -moz-box-shadow:    20px 20px 0px 0px #e0dce0;
    box-shadow:         20px 20px 0px 0px #e0dce0;
}

.b-free-shadow-left {
    -webkit-box-shadow: -20px -20px 00px 0px #e0dce0;
    -moz-box-shadow:    -20px -20px 00px 0px #e0dce0;
    box-shadow:         -20px -20px 00px 0px #e0dce0;
}

.b-free-text{
	color: #94889b;
}


/*wedding*/

.b-wedding-bg1 {
    background-color: #8f7e6c;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
}

.b-wedding-bg2 {
    background-color: #8f7e6c;
    width: 100%;
    height: 1150px;
    position: absolute;
    top: 950px;
}


.b-wedding-shadow-right {
    -webkit-box-shadow: 20px 20px 0px 0px #e5dfd4;
    -moz-box-shadow:    20px 20px 0px 0px #e5dfd4;
    box-shadow:         20px 20px 0px 0px #e5dfd4;
}

.b-wedding-shadow-left {
    -webkit-box-shadow: -20px -20px 00px 0px #e5dfd4;
    -moz-box-shadow:    -20px -20px 00px 0px #e5dfd4;
    box-shadow:         -20px -20px 00px 0px #e5dfd4;
}

.b-wedding-text{
	color: #8f7e6c;
}


/* contacts*/

#backgroundcontacts {
	background-image: url(../img/backgroundcontacts.png);
	height: 100%;
    width: 100%;
}

#linkedin{
	width: 38px;
	height: 38px;
}


.contact-text-header {
    vertical-align: top;
}

#mail{
	padding: 10px;
	text-decoration: none;
}
