@font-face {
    font-family: 'ralewaylight';
    src: url('font/raleway/raleway-light-webfont.eot');
    src: url('font/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-light-webfont.woff') format('woff'),
         url('font/raleway/raleway-light-webfont.ttf') format('truetype'),
         url('font/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('font/raleway/raleway-semibold-webfont.eot');
    src: url('font/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-semibold-webfont.woff') format('woff'),
         url('font/raleway/raleway-semibold-webfont.ttf') format('truetype'),
         url('font/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway/raleway-regular-webfont.eot');
    src: url('font/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-regular-webfont.woff') format('woff'),
         url('font/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('font/raleway/raleway-regular-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('font/raleway/raleway-extrabold-webfont.eot');
    src: url('font/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-extrabold-webfont.woff') format('woff'),
         url('font/raleway/raleway-extrabold-webfont.ttf') format('truetype'),
         url('font/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-y: scroll;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
}

body {
    height: 400%;
}


img {
    border: 0;
}

.slide {
    position: fixed;
    top: 0;
    left: 0;
    /* position: relative; */
}

.about {
    width: 100%;
    height: 100%;
}

#background1 {
    background-image: url(../img/background.png);
	height: 100%;
	/* display: none; */
}
#slide1{
	height: 100%;
	background: url(../img/table.png) no-repeat 50% 0;
}
#device1{
	height: 456px;
	width: 530px;
	background: url(../img/mac.png) no-repeat 50% 40%;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -265px;
	padding: 0;
}
#background2 {
	background-image: url(../img/background2.png);
	height: 100%;
	/* display: none; */
}
#slide2{
	height: 100%;
	background: url(../img/rack.png) no-repeat 50% 0;
}
#device2{
	height: 344px;
	width: 570px;
	background: url(../img/tele.png) no-repeat 50% 40%;
	position: absolute;
	top: 240px;
	left: 50%;
	margin-left: -280px;
	padding: 0;
}
#background3 {
	background-image: url(../img/background3.png);
	height: 100%;
}

#background5 {
	background-image: url(../img/background3.png);
	height: 100%;
}

#slide3{
	height: 100%;
	background: url(../img/cinema.png) no-repeat 50% 0;
}
#device3{
	height: 623px;
	width: 934px;
	background: url(../img/canvas.png) no-repeat 50% 40%;
	position: absolute;
	top: 62px;
	left: 50%;
	margin-left: -468px;
	padding: 0;
}
#background4{
	background-image: url(../img/background4.png);
	height: 100%;
}
#slide4{
	height: 100%;
	background: url(../img/sofa.png) no-repeat 50% 0;
}
#device4{
	height: 359px;
	width: 584px;
	background: url(../img/macbook.png) no-repeat 50% 40%;
	position: absolute;
	top: 340px;
	left: 50%;
	margin-left: -292px;
	padding: 0;
}
#big{
	font-size: 1.75em;
	margin-top: 125px;
}
#skills{
	list-style:none;
	padding: 20px;
	margin: 0;
}
#skills li{
	display: inline;
	float: center;
	padding: 15px;
	margin: 0;
}

.text-section {
	position: relative;
	text-align: center;
	margin-top: 73px;
	font-family: 'ralewaylight';
	z-index: 100;
	font-size: 1em;
	text-transform: uppercase; 
	letter-spacing: 0.175em;
	text-align: center;
	line-height: 3em;
	font-weight: lighter; 
}
#accent{
	font-size: 1.60em;
	font-weight: bold;
}
.low{
	text-transform: lowercase;
}
#small{
	text-transform: lowercase;
	font-weight: lighter;
	font-size: 0.8em;
}
#backgroundworks{
	background-image: url(../img/backgroundworks.png);
	min-height: 100%;
	background-attachment: fixed;
}
#container{
	width: 66%;
	margin: 50px auto;
    text-align: center;
}
.description {
	position: absolute;
	text-align: center;
	padding: 30% 0;
	font-family: 'ralewaylight';
	z-index: 100;
	font-size: 1.5em;
	text-transform: uppercase; 
	letter-spacing: 0.175em;
	text-align: center;
	line-height: 2em;
	font-weight: lighter;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
.textlight{
	text-transform: none;
	font-size: 0.8em;
}
.line{
	border-bottom: 3px solid #fff;
	margin: 0 15%;
	padding-bottom: 6%;
}


.work{
	display: inline-block;
	width: 30%;
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
	margin: 1%;
	min-width: 250px;
}
#details{
	background-color: #910035;
	position: absolute;
	font-family: 'ralewaylight';
	font-size: 1.5em;
	text-transform: uppercase; 
	letter-spacing: 0.175em;
	text-align: center;
	line-height: 3em;
	font-weight: lighter;
	color: #fff;
	width: 80%;
	height: 20%;
}


/*
#first:hover{
	background-image: url(../img/noxact.png);
	border: 1px solid #910035;
}
*/
.work-img {
	width: 100%;
}

/*#second{
	background-image: url(../img/jellypas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}
#third{
	background-image: url(../img/freepas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}
#forth{
	background-image: url(../img/lightpas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}
#fifth{
	background-image: url(../img/middlepas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}
#sixth{
	background-image: url(../img/vikuppas.png);
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
	height: 379px;
}*/

/* header*/


#header{
	margin: 0 auto;
	background: #ffffff;
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
    z-index: 2000;
	/*display: none;*/
}
#logo{
	position: absolute;
	bottom: 10px;
	left: 15%;
}
#menu{
	list-style:none;
	float: right;
	padding: 0;
	margin-right: 15%;
}
#menu li{
	float:left;
	font: 1.7em 'ralewaylight';
	text-transform: uppercase;
}	
#menu a{
	color: #666667;
	display:block;
	height:60px;
	line-height:56px;
	padding:0px 60px 0px 0px;
	text-decoration:none;
}
#menu a:hover, #menu a.active{
	color: #000;
	font-family:'ralewayregular';
}

.circle{
	background: url(../img/circle1.png) 4px 6px no-repeat;
	margin-top: 20px;
}
.circle:hover, .circle-active{
	background: url(../img/circle1hover.png) no-repeat;
	margin-top: 22px;
}
#menu a.hover{
	background: url(../img/circle1hover.png) no-repeat;
	margin-top: 25px;
}
.clear {
	clear: both;
}
.mouse{
	position: absolute;
	width: 15%;
	bottom: 20%;
	margin: 0 auto;
}
.scrolltext{
	font-family: 'ralewaylight';
	z-index: 10000;
	font-size: 1.3em;
	text-transform: none; 
	letter-spacing: 0.175em;
	float: left;
	margin-top: 25%;
	left: 0;
	width: 100%;
	color: #fff;
}
.scroll{
	float: left;
	padding: 4%;
}



/* all works open*/

.invisible{
	display: none;
}

/*header middle*/

#headercontainerm{
	background-color: #fff;
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #506d88;
	margin: 0;
	z-index: 10000;
}
.lefttext{
	position: absolute;
	margin-left: 15%;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
	color: #506d88;
	top: 35%;
}
.lefttext:hover{
	color: #000;
	font-family:'ralewayregular';
}
.righttext{
	list-style:none;
	float: right;
	padding: 0;
	margin-right: 15%;
}
.righttext li{
	float:left;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
}
.righttext a{
	color: #506d88;
	display:block;
	padding:0px 0px 0px 60px;
	text-decoration:none;
}
.righttext a:hover{
	color: #000;
	font-family:'ralewayregular';
}



/*middle*/


#containerm1{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 50px;
	margin-top: 85px;
	/*height: 1000px;*/
}
#backgroundcolorm1{
	background-color: #506d88;
	width: 100%;
	height: 650px;
	z-index: -2;
}
.title{
	margin: auto;
	color: #fff;
	font: 1.7em 'ralewayextrabold';
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.175em;
}
#middle1{
	background: url(../img/middle1.png) no-repeat;
	height: 593px;
	position: relative;
	/*z-index:2;*/
	background-position: 50% 0;
	top: 50px;
}
#shadowm1{
	background-color: #d6dbe0;
	background-position: 50% 0;
	height: 593px;
	width: 930px;
	position: absolute;
	left: 180px;
	top: 160px;
}
.textcontainer1{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	color: #506d88;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}
.accent{
	text-transform: uppercase;
	color: #d6dbe0;
	font: 1.5em 'ralewaysemibold';
}

.accent-black{
	text-transform: uppercase;
	color: black;
	font: 1.5em 'ralewaysemibold';
}

.smalltext{
	font: 0.8em 'ralewaylight';
	text-transform: lowercase;
}
#containerm2{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#middle2{
	background: url(../img/middle2.png) no-repeat;
	height: 1130px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowm2{
	background-color: #d6dbe0;
	background-position: 50% 0;
	height: 1130px;
	width: 930px;
	position: absolute;
	left: 65px;
	top: 0;
}
#backgroundcolorm2{
	background-color: #506d88;
	width: 100%;
	height: 3500px;
	z-index: -4;
	position: absolute;
	top: 2000px;
}
.textcontainer2{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 30px;
	margin-top: 50px;
	color: #fff;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}
#containerm3{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#middle3{
	background: url(../img/middle3.png) no-repeat;
	height: 3214px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowm3{
	background-color: #d6dbe0;
	background-position: 50% 0;
	height: 3214px;
	width: 930px;
	position: absolute;
	left: 130px;
	top: 55;
}
#containerm4{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#middle4{
	background: url(../img/middle4.png) no-repeat;
	height: 1404px;
	position: relative;
	top: 25px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowm4{
	background-color: #d6dbe0;
	background-position: 50% 0;
	height: 1404px;
	width: 930px;
	position: absolute;
	left: 70px;
	top: 0;
}
#backgroundcolorm3{
	background-color: #506d88;
	width: 100%;
	height: 450px;
	z-index: -4;
	position: absolute;
	top: 7250px;
}

/*headerlittle*/

#headercontainerl{
	background-color: #fff;
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #97997c;
	margin: 0;
	z-index: 10000;
}
.lefttextl{
	position: absolute;
	margin-left: 15%;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
	color: #97997c;
	top: 35%;
}
.lefttextl:hover{
	color: #000;
	font-family:'ralewayregular';
}
.righttextl{
	list-style:none;
	float: right;
	padding: 0;
	margin-right: 15%;
}
.righttextl li{
	float:left;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
}
.righttextl a{
	color: #97997c;
	display:block;
	padding:0px 0px 0px 60px;
	text-decoration:none;
}
.righttextl a:hover{
	color: #000;
	font-family:'ralewayregular';
}

/*little*/

#containerl1{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 50px;
	margin-top: 85px;
	/*height: 1000px;*/
}
#backgroundcolorl1{
	background-color: #97997c;
	width: 100%;
	height: 650px;
	z-index: -2;
}

#light1{
	background: url(../img/light1.png) no-repeat;
	height: 593px;
	position: relative;
	/*z-index:2;*/
	background-position: 50% 0;
	top: 50px;
}
#shadowl1{
	background-color: #e0ded6;
	background-position: 50% 0;
	height: 593px;
	width: 930px;
	position: absolute;
	left: 180px;
	top: 160px;
}
.textcontainer1l{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	color: #97997c;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}
.accentl{
	text-transform: uppercase;
	color: #e0ded6;
	font: 1.5em 'ralewaysemibold';
}

#containerl2{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#light2{
	background: url(../img/light2.png) no-repeat;
	height: 1128px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowl2{
	background-color: #e0ded6;
	background-position: 50% 0;
	height: 1128px;
	width: 930px;
	position: absolute;
	left: 65px;
	top: 0;
}
#backgroundcolorl2{
	background-color: #97997c;
	width: 100%;
	height: 2750px;
	z-index: -4;
	position: absolute;
	top: 2000px;
}

#containerl3{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#light3{
	background: url(../img/light3.png) no-repeat;
	height: 2502px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowl3{
	background-color: #e0ded6;
	background-position: 50% 0;
	height: 2502px;
	width: 930px;
	position: absolute;
	left: 130px;
	top: 55;
}
#containerl4{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#light4{
	background: url(../img/light4.png) no-repeat;
	height: 1402px;
	position: relative;
	top: 25px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowl4{
	background-color: #e0ded6;
	background-position: 50% 0;
	height: 1402px;
	width: 930px;
	position: absolute;
	left: 70px;
	top: 0;
}
#backgroundcolorl3{
	background-color: #97997c;
	width: 100%;
	height: 450px;
	z-index: -4;
	position: absolute;
	top: 6550px;
}

/*headernox*/

#headercontainern{
	background-color: #fff;
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #7a4343;
	margin: 0;
	z-index: 10000;
}
.lefttextn{
	position: absolute;
	margin-left: 15%;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
	color: #7a4343;
	top: 35%;
}
.lefttextn:hover{
	color: #000;
	font-family:'ralewayregular';
}
.righttextn{
	list-style:none;
	float: right;
	padding: 0;
	margin-right: 15%;
}
.righttextn li{
	float:left;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
}
.righttextn a{
	color: #7a4343;
	display:block;
	padding:0px 0px 0px 60px;
	text-decoration:none;
}
.righttextn a:hover{
	color: #000;
	font-family:'ralewayregular';
}

/*nox*/

#containern1{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 50px;
	margin-top: 85px;
	/*height: 1000px;*/
}
#backgroundcolorn1{
	background-color: #7a4343;
	width: 100%;
	height: 650px;
	z-index: -2;
}

#nox1{
	background: url(../img/nox1.png) no-repeat;
	height: 592px;
	position: relative;
	/*z-index:2;*/
	background-position: 50% 0;
	top: 50px;
}
#shadown1{
	background-color: #d7c9ce;
	background-position: 50% 0;
	height: 592px;
	width: 930px;
	position: absolute;
	left: 180px;
	top: 160px;
}
.textcontainernl{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	color: #7a4343;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}
.accentn{
	text-transform: uppercase;
	color: #d7c9ce;
	font: 1.5em 'ralewaysemibold';
}

#containern2{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#nox2{
	background: url(../img/nox2.png) no-repeat;
	height: 1207px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadown2{
	background-color: #d7c9ce;
	background-position: 50% 0;
	height: 1207px;
	width: 930px;
	position: absolute;
	left: 65px;
	top: 0;
}
#backgroundcolorn2{
	background-color: #7a4343;
	width: 100%;
	height: 1150px;
	z-index: -4;
	position: absolute;
	top: 2000px;
}

#containern3{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#nox3{
	background: url(../img/nox3.png) no-repeat;
	height: 781px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadown3{
	background-color: #d7c9ce;
	background-position: 50% 0;
	height: 781px;
	width: 930px;
	position: absolute;
	left: 130px;
	top: 55;
}
#containern4{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#nox4{
	background: url(../img/nox4.png) no-repeat;
	height: 1064px;
	position: relative;
	top: 25px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadown4{
	background-color: #d7c9ce;
	background-position: 50% 0;
	height: 1064px;
	width: 930px;
	position: absolute;
	left: 70px;
	top: 0;
}
#backgroundcolorn3{
	background-color: #7a4343;
	width: 100%;
	height: 450px;
	z-index: -4;
	position: absolute;
	top: 4550px;
}

/*headerpro*/

#headercontainerp{
	background-color: #fff;
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #6d8270;
	margin: 0;
	z-index: 10000;
}
.lefttextp{
	position: absolute;
	margin-left: 15%;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
	color: #6d8270;
	top: 35%;
}
.lefttextp:hover{
	color: #000;
	font-family:'ralewayregular';
}
.righttextp{
	list-style:none;
	float: right;
	padding: 0;
	margin-right: 15%;
}
.righttextp li{
	float:left;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
}
.righttextp a{
	color: #6d8270;
	display:block;
	padding:0px 0px 0px 60px;
	text-decoration:none;
}
.righttextp a:hover{
	color: #000;
	font-family:'ralewayregular';
}

/*pro*/

#containerp1{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 50px;
	margin-top: 85px;
	/*height: 1000px;*/
}
#backgroundcolorp1{
	background-color: #6d8270;
	width: 100%;
	height: 750px;
	z-index: -2;
}

#pro1{
	background: url(../img/pro1.png) no-repeat;
	height: 739px;
	position: relative;
	/*z-index:2;*/
	background-position: 50% 0;
	top: 50px;
}
#shadowp1{
	background-color: #d4dcd3;
	background-position: 50% 0;
	height: 739px;
	width: 930px;
	position: absolute;
	left: 180px;
	top: 160px;
}
.textcontainerpl{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 30px;
	margin-top: 150px;
	color: #6d8270;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}
.accentp{
	text-transform: uppercase;
	color: #d4dcd3;
	font: 1.5em 'ralewaysemibold';
}

#containerp2{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#pro2{
	background: url(../img/pro2.png) no-repeat;
	height: 1227px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowp2{
	background-color: #d4dcd3;
	background-position: 50% 0;
	height: 1227px;
	width: 930px;
	position: absolute;
	left: 65px;
	top: 0;
}
#backgroundcolorp2{
	background-color: #6d8270;
	width: 100%;
	height: 450px;
	z-index: -4;
	position: absolute;
	top: 2250px;
}

/*headervikup*/

#headercontainerv{
	background-color: #fff;
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #59777f;
	margin: 0;
	z-index: 10000;
}
.lefttextv{
	position: absolute;
	margin-left: 15%;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
	color: #59777f;
	top: 35%;
}
.lefttextv:hover{
	color: #000;
	font-family:'ralewayregular';
}
.righttextv{
	list-style:none;
	float: right;
	padding: 0;
	margin-right: 15%;
}
.righttextv li{
	float:left;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
}
.righttextv a{
	color: #59777f;
	display:block;
	padding:0px 0px 0px 60px;
	text-decoration:none;
}
.righttextv a:hover{
	color: #000;
	font-family:'ralewayregular';
}

/*vikup*/

#containerv1{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 50px;
	margin-top: 85px;
	/*height: 1000px;*/
}
#backgroundcolorv1{
	background-color: #59777f;
	width: 100%;
	height: 650px;
	z-index: -2;
}

#vikup1{
	background: url(../img/vikup1.png) no-repeat;
	height: 594px;
	position: relative;
	/*z-index:2;*/
	background-position: 50% 0;
	top: 50px;
}
#shadowv1{
	background-color: #d6dce0;
	background-position: 50% 0;
	height: 594px;
	width: 930px;
	position: absolute;
	left: 180px;
	top: 160px;
}
.textcontainervl{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	color: #59777f;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}
.accentv{
	text-transform: uppercase;
	color: #d6dce0;
	font: 1.5em 'ralewaysemibold';
}

#containerv2{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#vikup2{
	background: url(../img/vikup2.png) no-repeat;
	height: 1798px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowv2{
	background-color: #d6dce0;
	background-position: 50% 0;
	height: 1798px;
	width: 930px;
	position: absolute;
	left: 65px;
	top: 0;
}
#backgroundcolorv2{
	background-color: #59777f;
	width: 100%;
	height: 500px;
	z-index: -4;
	position: absolute;
	top: 2600px;
}

/*headerfree*/

#headercontainerf{
	background-color: #fff;
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #94889b;
	margin: 0;
	z-index: 10000;
    display: none;
}
.lefttextf{
	position: absolute;
	margin-left: 15%;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
	color: #94889b;
	top: 35%;
}
.lefttextf:hover{
	color: #000;
	font-family:'ralewayregular';
}
.righttextf{
	list-style:none;
	float: right;
	padding: 0;
	margin-right: 15%;
}
.righttextf li{
	float:left;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
}
.righttextf a{
	color: #94889b;
	display:block;
	padding:0px 0px 0px 60px;
	text-decoration:none;
}
.righttextf a:hover{
	color: #000;
	font-family:'ralewayregular';
}

/*free*/

#containerf1{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 50px;
	margin-top: 85px;
	/*height: 1000px;*/
}
#backgroundcolorf1{
	background-color: #94889b;
	width: 100%;
	height: 650px;
	z-index: -2;
}

#free1{
	background: url(../img/free1.png) no-repeat;
	height: 592px;
	position: relative;
	/*z-index:2;*/
	background-position: 50% 0;
	top: 50px;
}
#shadowf1{
	background-color: #e0dce0;
	background-position: 50% 0;
	height: 592px;
	width: 930px;
	position: absolute;
	left: 180px;
	top: 160px;
}
.textcontainerfl{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	color: #94889b;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}
.accentf{
	text-transform: uppercase;
	color: #e0dce0;
	font: 1.5em 'ralewaysemibold';
}

#containerf2{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#free2{
	background: url(../img/free2.png) no-repeat;
	height: 3942px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowf2{
	background-color: #e0dce0;
	background-position: 50% 0;
	height: 3942px;
	width: 930px;
	position: absolute;
	left: 65px;
	top: 0;
}
#backgroundcolorf2{
	background-color: #94889b;
	width: 100%;
	height: 1050px;
	z-index: -4;
	position: absolute;
	top: 4800px;
}

#containerf3{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#free3{
	background: url(../img/free3.png) no-repeat;
	height: 669px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowf3{
	background-color: #e0dce0;
	background-position: 50% 0;
	height: 669px;
	width: 930px;
	position: absolute;
	left: 130px;
	top: 55;
}
#containerf4{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#free4{
	background: url(../img/free4.png) no-repeat;
	height: 920px;
	position: relative;
	top: 25px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadowf4{
	background-color: #e0dce0;
	background-position: 50% 0;
	height: 920px;
	width: 930px;
	position: absolute;
	left: 70px;
	top: 0;
}
#backgroundcolorf3{
	background-color: #94889b;
	width: 100%;
	height: 400px;
	z-index: -4;
	position: absolute;
	top: 7100px;
}

/*headerwedding*/

#headercontainerw{
	background-color: #fff;
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #8f7e6c;
	margin: 0;
	z-index: 10000;
}
.lefttextw{
	position: absolute;
	margin-left: 15%;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
	color: #8f7e6c;
	top: 35%;
}
.lefttextw:hover{
	color: #000;
	font-family:'ralewayregular';
}
.righttextw{
	list-style:none;
	float: right;
	padding: 0;
	margin-right: 15%;
}
.righttextw li{
	float:left;
	font: 1.3em 'ralewaylight';
	text-transform: uppercase;
}
.righttextw a{
	color: #8f7e6c;
	display:block;
	padding:0px 0px 0px 60px;
	text-decoration:none;
}
.righttextw a:hover{
	color: #000;
	font-family:'ralewayregular';
}


/*wedding*/

#containerw1{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 50px;
	margin-top: 85px;
	/*height: 1000px;*/
}
#backgroundcolorw1{
	background-color: #8f7e6c;
	width: 100%;
	height: 650px;
	z-index: -2;
}

#wedding1{
	background: url(../img/wedding1.png) no-repeat;
	height: 592px;
	position: relative;
	/*z-index:2;*/
	background-position: 50% 0;
	top: 50px;
}
/*#shadoww1{
	background-color: #e0dce0;
	background-position: 50% 0;
	height: 592px;
	width: 930px;
	position: absolute;
	left: 180px;
	top: 160px;
}*/
.textcontainerwl{
	position: relative;
	width: 1130px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	color: #8f7e6c;
	font: 1.4em 'ralewaylight';
	text-align: center;
	letter-spacing: 0.175em;
	line-height: 1.2em;
}
.accentw{
	text-transform: uppercase;
	color: #e5dfd4;
	font: 1.5em 'ralewaysemibold';
}

#containerw2{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#wedding2{
	background: url(../img/wedding2.png) no-repeat;
	height: 1136px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadoww2{
	background-color: #e5dfd4;
	background-position: 50% 0;
	height: 1136px;
	width: 640px;
	position: absolute;
	left: 215px;
	top: 0;
}
#backgroundcolorw2{
	background-color: #8f7e6c;
	width: 100%;
	height: 1450px;
	z-index: -4;
	position: absolute;
	top: 2100px;
}

#containerw3{
	position: relative;
	width: 1130px;
	margin: auto;
	/*height: 1000px;*/
}
#wedding3{
	background: url(../img/wedding3.png) no-repeat;
	height: 1136px;
	position: relative;
	top: 30px;
	/*z-index:2;*/
	background-position: 50% 0;
}
#shadoww3{
	background-color: #e5dfd4;
	background-position: 50% 0;
	height: 1136px;
	width: 640px;
	position: absolute;
	left: 275px;
	top: 55;
}







/* contacts*/

#backgroundcontacts {
	background-image: url(../img/backgroundcontacts.png);
	height: 100%;
    width: 100%;
}
#device5{
	height: 361px;
	width: 500px;
	background: url(../img/ipad.png) no-repeat 50% 40%;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -265px;
	padding: 0;
}
#linkedin{
	width: 38px;
	height: 38px;
}
.contact-text {
	position: relative;
	text-align: center;
	margin-top: 73px;
	font-family: 'ralewaylight';
	z-index: 100;
	font-size: 1em;
	letter-spacing: 0.175em;
	text-align: center;
	line-height: 3em;
	font-weight: lighter; 
}

.contact-text-header {
    vertical-align: top;
}

#mail{
	border: 2px solid #007bb6;
	padding: 10px;
	border-radius: 3px;
	text-decoration: none;
}
